@model HomeIndexViewModel
@{
    ViewData["Title"] = "Расчёт";
}

<form action ="/Login"method="post">
    Email:
    <input name="Email" value="" autocomplete="off" />
    Пароль:
    <input type="password" name="Password" value="" autocomplete="off" />

    <button type="submit"> Войти</button>
</form>
